$gray-color: #828282;
$gray2-color: #f2f2f2;
$blue-color: #005cc8;
$red-color: #e43226;
$orange-color: #f7971d;
$aqua-color: #d8ffe6;
$antique-color: #fff2e2;
$thistle-color: #f0e5f5;
$bisque-color: rgba(254, 131, 104, 0.15);
$lightBlue-color: rgba(74, 191, 255, 0.15);
$green-color: #219653;
$orange2-color: #f2994a;
$purple-color: #bb6bd9;
$orange3-color: #fe8368;
$blue2-color: #2d9cdb;

$radius: 10px;

//*************indexNavbar************//
.header.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 91;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 6%);
    opacity: 0;
    -webkit-animation: fadeInDown 0.95s ease-in-out 0s 1 normal none running;
    animation: fadeInDown 0.95s ease-in-out 0s 1 normal none running;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

// top banner
.top-banner {
  Button {
    &:focus,
    &:active:focus {
      box-shadow: none;
    }
  }
}

// top navbar
.top-navbar {
  .dropdown-toggle {
    cursor: pointer;
    &::after {
      font-size: 0;
    }
  }
  .dropdown-menu.show {
    z-index: 1050;
  }
}
//header
.header {
  padding: 0px 15px;

  .navbar {
    padding: 10px 0px;
    line-height: 50px;
    align-items: center;

    .input-search {
      width: 50%;
    }

    .form-search {
      border-start-start-radius: $radius;
      border-end-start-radius: $radius;

      &:focus-visible {
        outline: none;
        border: 1px solid $gray-color !important;
      }

      &:focus {
        box-shadow: none;
        border: 1px solid $gray-color !important;
      }
    }

    .input-group-text {
      border-start-end-radius: $radius;
      border-end-end-radius: $radius;
      background-color: $red-color;
      border-color: $red-color;
    }

    .dropdown {
      .category {
        border-radius: $radius;
        background-color: $gray2-color;
        padding: 10px;
        line-height: 1;

        cursor: pointer;
        &:hover {
          background-color: $red-color;
          color: $gray2-color;
        }

        &::after {
          font-size: 0;
        }
      }

      .dropdown-menu {
        border-radius: $radius;
        filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.25));
        border: none;
      }
    }
  }

  .nav-item {
    padding-left: 50px;

    &:first-child {
      padding: 0;
    }

    a {
      color: $gray-color;
      padding: 5px;
    }

    a:hover,
    &.active a {
      border-bottom: 1px solid $orange-color;
      color: black;
    }
  }
}

//section category
.s-category {
  padding: 30px;
  .s-category__content--block {
    border-radius: 100px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    align-self: center;

    &:nth-child(1) {
      background-color: $aqua-color;
    }

    &:nth-child(2) {
      background-color: $antique-color;
    }

    &:nth-child(3) {
      background-color: $thistle-color;
    }

    &:nth-child(4) {
      background-color: $bisque-color;
    }

    &:nth-child(5) {
      background-color: $lightBlue-color;
    }

    img {
      border-radius: 50px;
    }

    .s-category__content--block--title {
      h5 {
        font-weight: bold;
        &.title-first {
          color: $green-color;
        }
        &.title-second {
          color: $orange2-color;
        }
        &.title-third {
          color: $purple-color;
        }
        &.title-fourth {
          color: $orange3-color;
        }
        &.title-fifth {
          color: $blue2-color;
        }
      }
      p {
        font-weight: 500;
        border-bottom: 1px solid black;
      }
    }
  }
}

//section category
.s-special {
  .s-special__content {
    background-image: url('/bg-special.png');
    background-repeat: no-repeat;
    background-size: auto;
  }
}
