$red-color: #e43226;
$gray-color: #828282;

.embla {
  position: relative;
  background-color: #f7f7f7;

  .embla__viewport {
    overflow: hidden;
    width: 100%;

    &.is-draggable {
      cursor: move;
      cursor: grab;
    }

    &.is-dragging {
      cursor: grabbing;
    }

    .embla__container {
      display: flex;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -webkit-tap-highlight-color: transparent;
      margin-left: -10px;

      .embla__slide {
        position: relative;
        min-width: 100%;
        padding-left: 10px;

        .embla__slide__inner {
          position: relative;
          overflow: hidden;
          height: 552px;

          .embla__slide__img {
            position: absolute;
            display: block;
            top: 50% !important;
            left: 50% !important;
            bottom: auto !important;
            width: auto;
            min-height: 100%;
            min-width: 100%;
            max-width: none;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #1bcacd;
    padding: 0;

    &:disabled {
      cursor: default;
      opacity: 0.3;
    }

    .embla__button__svg {
      width: 100%;
      height: 100%;
    }

    .embla__button--prev {
      left: 27px;
    }

    .embla__button--next {
      right: 27px;
    }
  }

  .embla__dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;

    .embla__dot {
      background-color: transparent;
      cursor: pointer;
      position: relative;
      padding: 0;
      outline: 0;
      border: 0;
      width: 10px;
      height: 10px;
      margin-right: 7.5px;
      margin-left: 7.5px;
      display: flex;
      align-items: center;

      &:after {
        background-color: #efefef;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        content: '';
      }

      &.is-selected {
        &:after {
          background-color: $red-color;
          opacity: 1;
        }
      }
    }
  }

  .signin_block {
    position: absolute !important;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 50px;
    text-align: center;
    align-items: center;
    min-height: 156px;
    top: 5%;
    right: 0;
    transform: translate(-5%, 0%);

    p {
      color: $gray-color;
    }
    .signin_block--content a {
      color: $red-color;
    }
  }
}
